<!-- Include Header -->
<%- include('include/_header') %>
<!-- /Include Header -->

<!-- Main Site -->


<main id="site-main">
  <% if(userType) { %> 
    <%- include('include/_adminDash') %>
  <% } else { %>
    <%- include('include/_employeeDash') %>
  <% } %>  
</main>
<!-- /Main Site -->

<!-- Include Footer -->
<%- include('include/_footer') %>
<!-- /Include Footer -->
