<div id="transferTicket" class="modal-box">
  <header>
    <a href="javascript:void(0);" class="js-modal-close close">×</a>
    <h3>Create A New Ticket</h3>
    <span class="text-dark"
      >Use the below form to create a request to Transfer/Swap Shifts</span
    >
  </header>
  <div class="modal-body">
    <!-- Form Handling -->
    <%- include('../include/_ticketForm') %>
  </div>
</div>
