<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left"></div>

        <ul class="navbar-nav header-right">
          <li class="nav-item dropdown header-profile">
            <a class="nav-link" href="#">
              <div class="header-info">
                <span>Hello, <strong>Samuel</strong></span>
              </div>
              <img src="img/employee_pic.jpg" width="20" alt=" " />
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<div class="sidebar_nav">
  <div class="brand-logo px-3">
    <a href="/" class="brand-logo">
      <img class="logo img-fluid" src="img/logo.png" />
    </a>
  </div>
  <div class="sidebar_nav-scroll">
    <ul class="metismenu" id="menu">
      <li><a href="/">Dashboard</a></li>
      <li><a href="/colleagueList">Colleagues List</a></li>
      <li><a href="/login">Logout</a></li>
    </ul>
  </div>
</div>
