<div id="swapTicket" class="modal-box">
  <header>
    <a href="javascript:void(0);" class="js-modal-close close">×</a>
    <h3>Update Your Availability</h3>
    <span class="text-dark"
      >Use the below form to update your availability</span
    >
  </header>
  <div class="modal-body">
    <!-- Form Handling -->
    This is the Swap Ticket Modal
  </div>
</div>
